<div>
    <div class="row text-center"><h1>Orders Administration</h1></div>
    <br><br>

    <div class="row ">
        <div class="col-md-3"></div>
        <div class="col-md-2"><button class="btn btn-primary btn-lg btn-block">Clientes</button></div>
        <div class="col-md-2"><button class="btn btn-primary btn-lg btn-block">Pedidos</button></div>
        <div class="col-md-2"><button class="btn btn-primary btn-lg btn-block">Productos</button></div>
        <div class="col-md-3"></div>
    </div>
    <cliente></cliente>
</div>